@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Header*/

header{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

.logo{
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px 260px;
    min-height: 180px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #2b2b2b;
    background: white;
    padding-bottom: 14px;
}


.menuitem span {
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 4px;
}

/*--------------------------------------------Section*/

.section-background {
    background-image: url("../images/monkees.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 0px;
}

/*--------------------------------------------Section - Article*/
.article {
    min-height: 100px;
    padding: 20px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 10px;
    color: #2b2b2b;
    background-color: rgba(255, 255, 255, 0.81);
}

.article-date {
    font-style: italic;
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
}

.article-title {
    font-style: normal;
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-content {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
}

/*--------------------------------------------Section - Media*/

.media-cell {
    min-height: 100px;
    padding: 20px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 10px;
    color: #2b2b2b;
    background-color: rgba(255, 255, 255, 0.81);
}

.media-date {
    font-style: italic;
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
}

.media-title {
    font-style: normal;
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.media-content {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
}

audio {
    width: 100%;
}


/*--------------------------------------------Footer*/

footer {
    width: 100%;
    min-height: 100px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2b2b2b;

}

.footer-contact {
    padding-top: 5px;
}

.footer-about {
    padding-top: 5px;
}

.footer-social {
    padding-top: 15px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 15px;
    text-align: center;
    color: #2b2b2b;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #d41414;
    color: white;
}



/*--------------------------------------------Hover.css*/
.hvr-shutter-out-horizontal {
    background: white;
}

.hvr-shutter-out-horizontal:before {
    background: rgba(255, 0, 0, 1);
    height: 60px;
}